<%= provide(:body_class, 'homepage') %>
<body>
<main>

  <div id="paralax-container">
    <%= image_tag 'desk.jpg', id: 'image', alt: 'desk and keyboard', height: '1200px', width: '100%' %>
    <div id="title">
      <h1 class ="homepage">HALF UP FRONT</h1>
      <p class="homepage">Let's work together</p>
    </div>
  </div>

  <section id="valuestory" class="slide header">
  
    <div class="row avatar-details">
      <div class="col-sm-4 col-sm-offset-1"><h2 class="Freddy">Freddy Freelancer</div>
      <div class="col-sm-4 col-sm-offset-2"><h2 class="Employer">Employer Edna</div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-1"><%= image_tag 'freelancer.png', id: 'freelancer', alt: 'freelancer', class: 'avatar', height: '250px', width: '250px' %></div>
      <div class="col-sm-4 col-sm-offset-2"><%= image_tag 'employer.png', class: 'avatar', id: 'employer', alt: 'employer', height: '250px', width: '250px' %></div>
    </div>

    <div class="row avatar-details">
      <div class="col-sm-4 col-sm-offset-1"><p class="details">Freddy Freelance recieves most of his jobs via word of mouth. He loves doing freelance work but has trouble ensuring his clients clarify their needs and wants, dislikes the awkwardness of negotiations and hates chasing down payments.</p> </div>
      <div class="col-sm-4 col-sm-offset-2"><p class="details">Employer Edna needs to build a website for her growing company. She has seen a few website she really likes, was given a great recommendation from a friend for who can build it, but she isn't sure what it should cost, how to convey her taste and feel secure with the process. She does NOT have the time to send a series of emails.</p> </div>
    </div>

  </section>

<div id="paralax-container">
    <%= image_tag 'atwork.jpg', id: 'image', alt: 'desk and keyboard', height: '3300px', width: '100%' %>
</div>

 <section id="login-section" class="slide header">
  <a class="btn btn-success" href="/users/new" role="button">Button</a>
 </section>


</main>
</body>