<%= provide(:body_class, 'homepage') %>
<body>
<main>

  <div id="paralax-container">
    <%= image_tag 'desk.jpg', id: 'image', alt: 'desk and keyboard', height: '1200px', width: '100%' %>
    <div id="title">
      <h1 class="homepage">HALF UP FRONT</h1>
      <p class="homepage">Let's work together</p>
    </div>
  </div>

  <section id="valuestory" class="slide header">

    <div class="row avatar-details">
      <div class="col-sm-4 col-sm-offset-1"><h2 class="Freddy">Freddy Freelancer</div>
      <div class="col-sm-4 col-sm-offset-2"><h2 class="Employer">Employer Edna</div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-1"><%= image_tag 'freelancer.png', id: 'freelancer', alt: 'freelancer', class: 'avatar', height: '250px', width: '250px' %></div>
      <div class="col-sm-4 col-sm-offset-2"><%= image_tag 'employer.png', class: 'avatar', id: 'employer', alt: 'employer', height: '250px', width: '250px' %></div>
    </div>

    <div class="row avatar-details">
      <div class="col-sm-4 col-sm-offset-1">
        <p class="details">Freddy Freelance recieves most of his jobs via word of mouth. He loves doing freelance work
          but has trouble ensuring his clients clarify their needs and wants, dislikes the awkwardness of negotiations
          and hates chasing down payments.</p></div>
      <div class="col-sm-4 col-sm-offset-2">
        <p class="details">Employer Edna needs to build a website for her growing company. She has seen a few website
          she really likes, was given a great recommendation from a friend for who can build it, but she isn't sure what
          it should cost, how to convey her taste and feel secure with the process. She does NOT have the time to send a
          series of emails.</p></div>
    </div>

  </section>

  <div id="second-container">
    <%= image_tag 'atwork.jpg', id: 'secondimage', alt: 'desk and keyboard', height: '1000px', width: '100%' %>
  </div>


  <section id="valuestory" class="slide header">

    <div id="main" class="main " role="main">
      <section id="login" class="login" data-role="page" data-title="Log in to your PayPal account">
        <div class="corral">
          <div id="content" class="contentContainer">
            <header>
              <p class="paypal-logo paypal-logo-long">
              <center><img src="http://stridecoder.com/wp-content/uploads/2016/04/paypal.png"></center>
              </p>
            </header>
            <form action="#" method="post" class="proceed maskable" name="login" autocomplete="off" novalidate="">
              <div id="passwordSection" class="clearfix">
                <div class="textInput" id="login_emaildiv">
                  <div class="fieldWrapper">
                    <label for="email" class="fieldLabel">Email</label>
                    <input id="email" name="login_email" type="email" class="hasHelp  validateEmpty " required="required" aria-required="true" value="" autocomplete="off" placeholder="Email">
                  </div>
                </div>

                <div class="textInput lastInputField" id="login_passworddiv">
                  <div class="fieldWrapper"><label for="password" class="fieldLabel">Password</label>
                    <input id="password" name="login_password" type="password" class="hasHelp  validateEmpty " required="required" aria-required="true" value="" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="actions actionsSpaced">
                <button class="button actionContinue" type="submit" id="btnLogin" name="btnLogin" value="Login">Log In
                </button>
              </div>
              <div class="forgotLink">
                <a href="http://127.0.0.1:3000/auth/paypal" id="forgotPasswordModal" class="scTrack:unifiedlogin-click-forgot-password">Having
                  trouble logging in?</a></div>
              <input type="hidden" id="bp_mid" name="bp_mid" value="">
            </form>

            <a href="http://127.0.0.1:3000/auth/paypal" class="button secondary" id="createAccount">Sign Up</a></div>
        </div>
      </section>
    </div>

  </section>

  </section>

</main>
</body>