<!DOCTYPE HTML>
<html>                      <!-- Kyle made this -->
<head>
<title>Half Up Front</title>

<%= javascript_include_tag "application" %>
<!-- <script type="text/javascript">
    var ypos;
    var image;

    function parallax() {
        ypos = window.pageYOffset;
        image = document.getElementById('image');
        image.style.top = ypos * .8 + 'px';
    };

    window.addEventListener('scroll',parallax);
</script> -->
<%= stylesheet_link_tag "application" %>
</head>
<body>
<nav>
    <%= image_tag 'logo.png', id:"logo", alt:"logo", height:'80px' %>
    <!-- <img id="logo" src="./logo.png" height="80px" width=""> -->
</nav>



<header id="main">
    <%= image_tag "officephoto2.jpg", id:'image', alt:'mac keyboard &amp; hand', height:'710px', width:'100%' %>
    <!-- <img id="image" src="./officephoto2.jpg" height="710px" width="100%"> -->
    <h1>Half Up Front.</h1>
    <div id="title">

    </div>
</header>

<div id="tile1" class="slide header">
    <div>
        <p>
            Half Up Front allows freelancers to streamline their negotiations, receive payment and liability processes to allow both parties find common ground towards a project goal. Half up front allows freelancers to chat via video and text, where they can communicate and collaborate on a real time document to establish payment milestones, project targets and other commitments.
        </p>

        <%= image_tag "6.png", id:'char', alt:'cat cat cat!', height:'250px', width:'250px' %>
    <!-- <img id="char" src="./6.png" height="250px" width="250px"> -->
    </div>

</div>

<%= image_tag "office2.jpg", id:"image", alt:'clunky keyboard &amp; hand', height:"650px", width:"100%" %>
<!-- <img id="image" src="./office2.jpg" height="650px" width="100%"> -->

<div id="tile2" class="slide header"></div>

</body>
</html>