<%= provide(:body_class, 'homepage') %>
<body>
<main>

  <div id="paralax-container">
    <%= image_tag 'desk.jpg', id: 'image', alt: 'desk and keyboard', height: '1200px', width: '100%' %>
    <div id="title">
      <h1 class="homepage">HALF UP FRONT</h1>
      <p class="homepage">Let's work together</p>
    </div>
  </div>

  <section id="valuestory" class="slide header">

    <div class="row avatar-details">
      <div class="col-sm-4 offset-sm-1"><h2 class="Freddy">Freddy Freelancer</div>
      <div class="col-sm-4 offset-sm-2"><h2 class="Employer">Employer Edna</div>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-sm-1"><%= image_tag 'freelancer.png', id: 'freelancer', alt: 'freelancer', class: 'avatar', height: '250px', width: '250px' %></div>
      <div class="col-sm-4 offset-sm-2"><%= image_tag 'employer.png', class: 'avatar', id: 'employer', alt: 'employer', height: '250px', width: '250px' %></div>
    </div>

    <div class="row avatar-details">
      <div class="col-sm-4 offset-sm-1">
        <p class="details">Freddy Freelance receives most of his jobs via word of mouth. He loves doing freelance work
          but has trouble ensuring his clients clarify their needs, wants and dislikes the awkwardness of negotiations.
          Worst of all he hates chasing down payments.</p></div>
      <div class="col-sm-4 offset-sm-2">
        <p class="details">Employer Edna needs to build a website for her growing company. She has seen a few websites
          that
          she really likes and was given a great recommendation from a friend on who can build it. She isn't sure what
          her website should cost nor how to convey her taste and feel secure with the process. She does NOT have the
          time to send a
          series of emails.</p></div>
    </div>

  </section>

  <div id="second-container">
    <%= image_tag 'handsonkeys.jpg', id: 'secondimage', alt: 'desk and keyboard', height: '1000px', width: '100%' %>
  </div>


  <section id="valuestory" class="slide header">

    <div id="main" class="main " role="main">
      <section id="login" class="login" data-role="page" data-title="Log in to your PayPal account">
        <div class="corral">
          <div id="content" class="contentContainer">
            <header>
              <!--
	      <p class="paypal-logo paypal-logo-long">
              <center><%= image_tag 'PayPalLogo.png', id: 'PayPalLogo', alt: 'PayPalLogo', class: 'paypaylogo' %></center>
              </p>
	      -->
	      <h3 class="paypal-logo paypal-logo-long"><center>Try the App in one of two user roles:</center></h3>
            </header>
            <!--
	    <form action="http://127.0.0.1:3000/auth/paypal/callback" method="post" class="proceed maskable" name="login" autocomplete="off" novalidate="">
              <div id="passwordSection" class="clearfix">
                <div class="textInput" id="login_emaildiv">
                  <div class="fieldWrapper">
                    <label for="email" class="fieldLabel">Email</label>
                    <input id="email" name="login_email" type="email" class="hasHelp  validateEmpty " required="required" aria-required="true" value="" autocomplete="off" placeholder="Email">
                  </div>
                </div>

                <div class="textInput lastInputField" id="login_passworddiv">
                  <div class="fieldWrapper"><label for="password" class="fieldLabel">Password</label>
                    <input id="password" name="login_password" type="password" class="hasHelp  validateEmpty " required="required" aria-required="true" value="" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="actions actionsSpaced">
                <button class="button actionContinue" type="submit" id="btnLogin" name="btnLogin" value="Login">Log In
                </button>
              </div>
              <div class="forgotLink">
                <a href="http://127.0.0.1:3000/auth/paypal" id="forgotPasswordModal" class="scTrack:unifiedlogin-click-forgot-password">Having
                  trouble logging in?</a></div>
              <input type="hidden" id="bp_mid" name="bp_mid" value="">
            </form>
	  -->	
            <!-- <a href="http://127.0.0.1:3000/auth/paypal" class="button secondary" id="createAccount">Sign Up</a></div> -->
            <br>
	    		
	    <%= button_to "Sample Freelancer Login", 
	      "/sessions/1", :action => "show", 
	      :class => "button secondary", :id => "createAccount", :method => :get %>
	    <br>
 	    <%= button_to "Sample Employer Login",
	      "/sessions/2", :action => "show",
	      :class => "button secondary", :id => "createAccount", :method => :get %>
	    <br>
	</div>
	</div>
	</div>
      </section>
    </div>

  </section>

  </section>

</main>
</body>
