<article class="milestone">


  <%= button_to 'X', '/jobs/'+ @job.id.to_s + '/milestones/' + milestone.id.to_s + '/', class: 'delete-milestone-btn', method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  <dl data-milestone-id="<%= milestone.id %>">
    <dt>Name</dt>
    <dd class="name freelancer-editable" data-update-field="name"><%= milestone.name %></dd>
    <dt>Start Date</dt>
    <dd class="start-date freelancer-editable" data-update-field="start-date"><%= milestone.start_date %></dd>
    <dt>End Date</dt>
    <dd class="end-date freelancer-editable" data-update-field="end-date"><%= milestone.end_date %></dd>
    <dt>Summary of Requirements</dt>
    <dd class="summary freelancer-editable" data-update-field="summary"><%= milestone.requirements_summary %></dd>

    <%= button_to "+ Requirement", job_milestone_requirements_path(@job.id, milestone.id), form_class: 'new-requirement-form', :id => "new-requirement-btn", :class => "req-btn", :method => :post, :remote => true %>

     <button class="save-milestone-btn" data-milestone-id="<%= milestone.id %>">Save</button>

    <% milestone.requirements.each do |requirement| %>
      <%= render 'requirement', requirement: requirement %>
    <% end %>
  </dl>

</article>
