<article class="milestone" data-milestone-id="<% milestone.id %>">


  <%= button_to 'X', '/jobs/'+ @job.id.to_s + '/milestones/' + milestone.id.to_s + '/', form_class: 'delete-milestone-btn', class: 'delete-milestone-btn', :method => :delete, :remote => true %>
  <dl data-milestone-id="<%= milestone.id %>">
    <dt>Name</dt>
    <dd class="name freelancer-editable" data-update-field="name"><%= milestone.name %></dd>

    <dt>Budget</dt>
      <span>Percent:</span>
      <span class="budget-container">

        <%= image_tag 'crazy_green_up.png', :class =>  'arrow up-arrow', alt: 'up arrow', height: '25px', width: '25px' %>

        <dd class="payment-percentage freelancer-editable" data-update-field="payment-percentage"><%= milestone.payment_percentage %></dd>
        <span>%</span>

        <%= image_tag 'crazy_green_down.png', :class => 'arrow down-arrow', alt: 'down arrow', height: '25px', width: '25px' %>

      </span>
      <span>Amount:</span>
        <span class="$-sign">$</span>
        <span class="milestone-amount"><%= (@job.budget.to_i * milestone.payment_percentage.to_i / 100 ).to_i%></span>

    <dt>Start Date</dt>
    <dd class="start-date freelancer-editable" data-update-field="start-date"><%= milestone.start_date %></dd>
    <dt>End Date</dt>
    <dd class="end-date freelancer-editable" data-update-field="end-date"><%= milestone.end_date %></dd>
    <dt>Summary of Requirements</dt>
    <dd class="summary freelancer-editable" data-update-field="summary"><%= milestone.requirements_summary %></dd>

    <%= button_to "+ Requirement", job_milestone_requirements_path(@job.id, milestone.id), form_class: 'new-requirement-form', :id => "new-requirement-btn", :class => "req-btn", :method => :post, :remote => true %>

     <button class="save-milestone-btn" data-milestone-id="<%= milestone.id %>">Save</button>

    <% milestone.requirements.each do |requirement| %>
      <%= render 'requirement', requirement: requirement %>
    <% end %>
  </dl>

</article>

