<%= provide :body_class, 'new-job' %>

<%= form_for @job do |f| %>

    <br>

    <section class="textType">
        <h2>Brief:</h2><input class="jobtype" id="jobtype" placeholder="What kind of job is this">    
    </section>  

    <br>
    <br>

 <section class="textType">
        <h2></h2><input class="jobtype" id="jobtype" placeholder="What do you want to accomplish with this project"></section>  


    <br>
    <br>

    
    <h2>What Kind of Project?</h2>
    <section class="project">
        <div class="row ">
            <div class="col-xs-offset-2 col-xs-3 ">
                <label class="radio-btn" for="newproject">
                    <div class="glyphicon glyphicon-plus"></div>
                    New Project
                    <%= radio_button("job", "date_initiated", "new", id: "newproject")%>
                </label>
            </div>

            <div class="col-xs-offset-3 col-xs-3">
                <label class="radio-btn" for="existingproject">
                    <div class="glyphicon glyphicon-arrow-right"></div>
                    Existing Project
                    <%= radio_button("job", "date_initiated", "existing", id: "existingproject")%>
                </label>
            </div>
        </div>
    </section>

<br>

    <h2>What Kind of Price Point?</h2>
    <section class="pricepoint">
        <div class="row price">
            <div class="col-md-4">
                <div class="button">
                   <span class="glyphicon fa fa-dollar"></span>
                      <p>Fixed Budget</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                  <span class="glyphicon fa fa-dollar"></span>
                  <span class="glyphicon fa fa-dollar"></span>
                    <p>Wiggle Room</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-dollar"></span>
                   <span class="glyphicon fa fa-dollar"></span>
                   <span class="glyphicon fa fa-dollar"></span>
                    <p>The Solution</p>
                </div>
            </div>

        </div>
    </section>

<br>

    <h2>How Big of a Website?</h2>
    <section class="size">
        <div class="row price">
            <div class="col-md-4">
                <div class="button">
                   <span class="glyphicon fa fa-file-text"></span>
                      <p>Small Site</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                  <span class="glyphicon fa fa-file-text"></span>
                  <span class="glyphicon fa fa-file-text"></span>
                    <p>Medium Site</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-file-text"></span>
                   <span class="glyphicon fa fa-file-text"></span>
                   <span class="glyphicon fa fa-file-text"></span>
                    <p>Large Site</p>
                </div>
            </div>

        </div>
    </section>

<br>
     <h2>Additional Costs</h2>
    <section class="extra">
        <div class="row price">
            <div class="col-md-4">
                <div class="button">
                   <span class="glyphicon fa fa-camera"></span>
                      <p>Photos</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                  <span class="glyphicon fa fa-paint-brush"></span>
                    <p>Designers</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-server"></span>
                    <p>Domain</p>
                </div>
            </div>

        </div>
        <div class="row price">

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-server"></span>
                    <p>Servers</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-server"></span>
                    <p>Hosting</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-server"></span>
                    <p>SEO</p>
                </div>
            </div>

        </div>
        <div class="row price">

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-server"></span>
                    <p>Analytics</p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
                <div class="button">
                   <span class="glyphicon fa fa-server"></span>
                    <p>E-Commerce</p>
                </div>
            </div>

        </div>
    </section>

<br>
    <h2>Link Examples</h2>
    <section class="addexamples">
    <div class="row">
        <div class="control-group" id="fields">
            <label class="control-label" for="field1"></label>
            <div class="controls"> 
                <form role="form" autocomplete="off">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control" name="fields[]" type="text" placeholder="Websites You Like" />
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<section class="summary">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="More Details"></textarea>
            </div>
        </div>
    </div>
</section>


<%= f.submit %>
<% end %>