<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

**THIS WILL SHOW A JOB**

<script>
function getLiveInfo() {
  return {
    isFreelancer: <%= @job.freelancer_id == current_user.id %>,
    isEmployer: <%= @job.employer_id == current_user.id %>
  };
}
</script>

<p id="notice"><%= notice %></p>

<!-- <iframe src="https://appear.in/half-up-front/<%= @job.id %>" width="400" height="480" frameborder="0"></iframe> -->

<h3>Welcome <%= current_user.first_name %> </h3>


<!-- <div class="requirement">
  <div class="title">Title</div>
  <div class="details">Detials</div>
</div>
 -->

<br>
<br>
<%= button_to "Add Milestone", job_milestones_path(@job.id), :id => "new-milestone-btn", :class => "milestones", :method => :post, :remote => true %>

<section id="allMilestones">
  <% @job.milestones.each do |milestone| %>
    <%= render 'milestone', milestone: milestone %>
  <% end %>

</section>