<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

**THIS WILL SHOW A JOB**

<script>
function getLiveInfo() {
  return {
    isFreelancer: <%= @job.freelancer_id == current_user.id %>,
    isEmployer: <%= @job.employer_id == current_user.id %>
  };
}
</script>

<p id="notice"><%= notice %></p>

<!-- <iframe src="https://appear.in/half-up-front/<%= @job.id %>" width="400" height="480" frameborder="0"></iframe> -->

<h3>Welcome <%= current_user.first_name %> </h3>


<!-- <div class="requirement">
  <div class="title">Title</div>
  <div class="details">Detials</div>
</div>
 -->

<%= render 'stepwizard' %>
<h3> Job Budget: </h3>
<span class="job-budget-container">


  <%= image_tag 'crazy_green_up.png', :class => 'job-arrow up-arrow', alt: 'up arrow', height: '40px', width: '40px' %>

<span class="$-sign">$</span>

<dd class="job-budget freelancer-editable" data-update-field="job-budget"><%= @job.budget %></dd>


  <%= image_tag 'crazy_green_down.png', :class => 'job-arrow down-arrow', alt: 'down arrow', height: '40px', width: '40px' %>

</span>
 <button id="save-job">Save Current Contract State</button>

<br>
<br>
<%= button_to "Add Milestone", job_milestones_path(@job.id), :id => "new-milestone-btn", :class => "milestones", :method => :post, :remote => true %>

<section id="allMilestones">
  <% @job.milestones.each do |milestone| %>
    <%= render 'milestone', milestone: milestone %>
  <% end %>

</section>