<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

**THIS WILL SHOW A JOB**

<script>
function getLiveInfo() {
  return {
    isFreelancer: <%= @job.freelancer_id == current_user.id %>,
    isEmployer: <%= @job.employer_id == current_user.id %>
  };
}
</script>

<p id="notice"><%= notice %></p>

<iframe src="https://appear.in/half-up-front/<%= @job.id %>" width="400" height="480" frameborder="0"></iframe>

<h3>Welcome <%= current_user.first_name %> </h3>

<h3> Budget: </h3>
<%= link_to '#' do %>
  <%= image_tag 'crazy_green_up.png', id: 'arrow', alt: 'up arrow', height: '40px', width: '40px' %>
<% end %>
<%= @job.final_budget %> ($10,000)

<%= link_to '#' do %>
  <%= image_tag 'crazy_green_down.png', id: 'arrow', alt: 'up arrow', height: '40px', width: '40px' %>
<% end %>


<!-- <div class="requirement">
  <div class="title">Title</div>
  <div class="details">Detials</div>
</div>
 -->

<%= button_to "Add Milestone", job_milestones_path(@job.id), :id => "new-milestone-btn",
      :class => "milestones", :method => :post, :remote => true %>
<div class="milestone">
  <%= button_to "Delete Milestone", job_milestones_path(@job.id), :id => "new-milestone-btn",
  :class => "milestones", :method => :destroy %>
<%= link_to '#' do %>
  <%= image_tag 'crazy_green_up.png', id: 'arrow', alt: 'up arrow', height: '25px', width: '25px' %>
<% end %>
 (30%)
<%= link_to '#' do %>
  <%= image_tag 'crazy_green_down.png', id: 'arrow', alt: 'up arrow', height: '25px', width: '25px' %>
<% end %>

  <div class="name freelancer-editable" data-update-field="name">Name</div>
  <div class="start-date freelancer-editable" data-update-field="start-date">Start Date</div>
  <div class="end-date freelancer-editable" data-update-field="end-date">End Date</div>
  <div class="summary freelancer-editable" data-update-field="summary">Summary of Requirements</div>
    <div class="requirement">
      <button type="req-button" >New Requirement</button>
      <div class="req-name freelancer-editable" data-update-field="req-name">Name</div>
      <div class="details freelancer-editable" data-update-field="details" >Requirement Details: </div>
    </div>
</div>
<section id="allMilestones">
  <% @job.milestones.each do |milestone| %>
    <%= render 'milestone', milestone: milestone %>
  <% end %>

</section>