
<script>
  function getLiveInfo() {
    return {
      isFreelancer: <%= @job.freelancer_id == current_user.id %>,
      isEmployer: <%= @job.employer_id == current_user.id %>
    };
  }
</script>


<body class="jobs-show-body">

<iframe class="appearin" src="https://appear.in/half-up-front/<%= @job.id %>" width="400" height="480" frameborder="0"></iframe>

<% if current_user.user_type == 'Employer' %>
  <div class="demo_message">
  <h6> For this demo version, please open the home page from either
  another machine or another browser window in a different account, and log in as Freddy Freelancer. </h6>
  </div>
<% end %>

<br>
<br>
<section class="col-xl-8 offset-xl-4 col-lg-9 offset-lg-3 col-md-7 offset-md-5 col-sm-6 offset-sm-6" id="allMilestones" data-job="<%= @job.id %>">

  <%= button_to "+ Milestone", job_milestones_path(@job.id), :id => "new-milestone-btn", form_class: 'new-milestone-form', :class => "milestones", :method => :post, :remote => true %>
  <% @job.milestones.each do |milestone| %>
      <%= render 'milestone', milestone: milestone %>
  <% end %>

</section>


<footer class="navbar navbar-fixed-bottom" id="allBudget">
    <div class="col-sm-3 button-container">
      <button id="save-job">Save Current Contract State</button>
      <% if current_user == @job.employer_id %>
      <button id="submit-job"> Employer Confirm Contract </button>
      <% else %>
      <button id="submit-job"> Freelancer Confirm Contract </button>
      <% end %>
    </div>

    <div class="col-sm-3 job-budget-container">
      <dt id="jobbudget"> Job Budget ($): </dt>
      <dl data-job-id="<%= @job.id %>">



      <div class="allarrows">
        <div class="job-arrow up-arrow">
          <i id="jobuparrow" class="fa fa-arrow-up"></i>
        </div>
        <div  class="job-arrow down-arrow">
          <i id="jobdownarrow" class="fa fa-arrow-down"></i>
        </div>
      </div>


      <div class="arrowjobbudget">
        <dd id="arrowjobbudget" class="job-budget freelancer-editable" data-job-update-field="job-budget"> <%= @job.budget %> </dd>
      </div>


    </div>
    <div class="col-sm-3 huf-container">
      <dt id="halfbudget"> Half Up Front Cost ($): </dt>
        <% if @job.budget %>
      <dd class="huf-budget"> <%= (@job.budget / 2).floor %> </dd>
        <% else %>
      <dd class="huf-budget"> $ 0 </dd>
        <% end %>
    </div>
</footer>
</body>