<p id="notice"><%= notice %></p>
 <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', user_path %>
THIS PAGE WILL SHOW A SPECIFIC USER

<section class="products-show">

  <header class="page-header">
    <p> UPDATE YO</p>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @user.profile_image, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>First Name</dt>
          <dd><%= @user.first_name %></dd>
          <dt>Last Name</dt>
          <dd><%= @user.last_name %></dd>
          <dt>City</dt>
          <dd><%= @user.city %></dd>
          <dt>Province</dt>
          <dd><%= @user.province %></dd>
          <dt>Country </dt>
          <dd><%= @user.country %> </dd>
        </dl>
      </div>

    </div>

  </article>

</section>

