<section class="container center-block">
  <script>
    document.godHelpMe_allowed_to_edit = <%=@allowed_to_edit%>;
  </script>


  <br>
  <br>
  <section class="header">
   <% if @user.user_type == 'Freelancer' %>
    <div class="profilephoto">
      <%= image_tag 'freelancer.png', id: "profile_photo", alt: "profile_photo", height: '270px' %>
    </div>
    <% elsif @user.user_type == 'Employer' %>
    <div class="profilephoto">
      <%= image_tag 'employer.png', id: "profile_photo", alt: "profile_photo", height: '270px' %>
    </div>
    <% else %>
    <div class="profilephoto">
      <%= image_tag 'profilePlaceholder.png', id: "profile_photo", alt: "profile_photo", height: '270px' %>
    </div>
    <% end %>

    <div class="username">
      <h1 id="user-full-name"> <%= @user.first_name %> <%= @user.last_name %></h1>
    </div>

    <div class="userlocation">
      <i class="fa fa-map-marker"></i>  <%= @user.country %> <%= @user.city %> <%= @user.province %>
    </div>

    <div class=profileemail>
      <i class="fa fa-envelope"></i> <%= @user.email %>
    </div>

    <% if @user.user_type == 'Freelancer' %>
        <div class="user">
          <i class="fa fa-user"></i> <%= @user.user_type %>
        </div>

    <% end %>


    <% if @user.user_type == 'Freelancer' %>
        <div class="user">
          <i class="fa fa-usd"></i> <%= @user.hourly_rate %>
        </div>
    <% end %>

    <div class="github">
      <i class="fa fa-github"></i> <%= @user.git %>
    </div>

    <div class="linkedin">
      <i class="fa fa-linkedin"></i> <%= @user.linked_in %>
    </div>


    <% if current_user.id == @user.id %>
        <div class="editprofile">
          <%= link_to 'Edit Profile', edit_user_path(@user) %>
        </div>

    <% end %>


  </section>


  <section class="summary">

    <div class="summary">
      <h4 class="bio">Bio: </h4> <%= @user.summary %>
    </div>


  </section>


  <% if current_user.user_type == 'Employer' %>
      <%= button_to "Work with me", "/jobs/" + @user.id.to_s + "/", :controller => "jobs", :action => "create", form_class: "btn btn-lg btn-success", :class => "btn btn-lg btn-success", :method => :post %>

  <% end %>

</section>

