<!DOCTYPE html>
<html>
<head>
  <title>Half Up Front</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<nav class="global_nav">
 <%= image_tag 'huflogo.png', id: "huflogo", alt: "huflogo", height: '75px' %>
</nav>
<body class="<%= yield :body_class %>">



  <%= yield %>


</body>
</html>
